
/* Global variables */
:root {
    --tgv-main-bgcolor: lightgray;
    --tgv-font-size: 13px;
}
 
/* Global settings */
* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: calc(var(--tgv-font-size) + 0px);
    /* padding: 0; */
    /* margin: 0; */
}

/* Center absolute div */
.tgv_centered_both {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
.tgv_centered_horizontal {
    position: absolute;
    left: 50%;
    transform: translate(-50%)
}
.tgv_centered_vertical {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%)
}



/* Button */
.tgv_btn {
    padding: 1px 4px;
}
/* Button icon */
.tgv_btn_icon {
    font-size: 14px;
    vertical-align: middle;
    padding: 0px 4px 0px 4px;
}
/* Button label */
.tgv_btn_label {
    vertical-align: middle;
}



/* Checkbox */
.tgv_check {
    border: none;
    background-color: transparent;
}
/* Checkbox icon */
.tgv_check_icon i {
    font-size: 16px;
    vertical-align: middle;
    padding: 0px 4px 0px 4px;
}
/* Checkbox label */
.tgv_check_label label {
    vertical-align: middle;
 }
 


/* Diag derived from Window */
.tgv_diag {
    background-color: whitesmoke;
  }
.tgv_diag_content {
    flex-grow: 1;
    padding: 4px;
}
.tgv_diag_content_top {
    flex-grow: 10;
}
.tgv_diag_content_bottom {
    flex-grow: 0;
    padding: 4px;
    border-top: 1px solid gray;
    justify-content: flex-end; 
 }
/* Gap between buttons */
.tgv_diag_button_gap {
    width: 10px;
}
 


.tgv_hmenu {
    padding: 4px;
    overflow: auto;
    background-color: aliceblue;
}
.tgv_hmenuitem {
    float: left;
    padding: 0px 6px 0px 6px;
}
.tgv_hmenuitem_sep {
    float: left;
    border: 1px solid gray;
    width:  1px;
    height: 100%;
    margin: 0px 2px 0px 2px;
    color: transparent;
}

.tgv_vmenu {
    border: 1px solid gray;
    min-width: 150px;
    width: max-content; /* Check support */
    max-width: 50%;
    background-color: aliceblue;
}
.tgv_menupopup {
    display: none;
    position: absolute;
}
.tgv_vmenuitem {
    padding: 4px 2px 4px 2px;
}
.tgv_menuitem_sep {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: gray;
    height: 1px;
    margin: 4px 0px 4px 0px;
}
.tgv_menuitem_focus {
    background-color: lightgray;
}
.tgv_menuitem_disabled {
    color: lightgray;
}
.tgv_menuitem_icon {
    font-size: calc(var(--VarFontSize) + 2px);
    vertical-align: middle;
    padding: 0px 4px 0px 4px;
}
.tgv_menuitem_label {
    /*padding: 4px 0px 14px 0px; */
    vertical-align: middle;
}
.tgv_menuitem_accel {
    float: right;
    color: gray;
}
.tgv_menuitem_menuicon {
    float: right;
    font-size: calc(var(--VarFontSize) + 2px);
    vertical-align: middle;
    padding: 0px 4px 0px 4px;
}



/* Modal cover */
.tgv_modal {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.1);
}



/* Message box default size */
.tgv_msgbox {
    min-width: 300px;
    min-height: 100px;
    width: 300px;
    height: auto;
  }
/* Message box content top layout */
.tgv_msgbox_content_top {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tgv_msgbox_icon {
    padding: 0px 6px 2px 2px; 
    font-size: 40px;
}
.tgv_infobox_icon {
    color: blue;
}
.tgv_confirmbox_icon {
    color: green;
}
.tgv_warningbox_icon {
    color: red;
}
/* Message box global variables */
:root {
    --tgv_infobox_icon_name: info;
    --tgv_warningbox_icon_name: warning;
    --tgv_confirmbox_icon_name: live_help;
}



/* Radio button */
.tgv_radio {
  border: none;
  background-color: transparent;
}
.tgv_radio_icon i {
  font-size: 16px;
  vertical-align: middle;
  padding: 0px 4px 0px 4px;
}
.tgv_radio_label label {
  vertical-align: middle;
}



/* Splitter horizontal */
.tgv_hsplit {
    border: none;
  }
 /* Horizontal Splitter separator */
.tgv_hsplit_sep {
    float: left;
    height: 100%;
    cursor: ew-resize;
    background-color: white;
 }
 /* Splitter vertical */
.tgv_vsplit {
    border: none;
}
/* Vertical Splitter separator */
.tgv_vsplit_sep {
    width: 100%;
    cursor: ns-resize;
    background-color: white;
}



/* Tuner */
.tgv_tuner {
    border: 2px solid lightgray;
    padding: 4px;
    color: black;
}
.tgv_tuner span {
    font-size: 48px;
}
.tgv_tuner_digit_normal {
    color: black;
}
.tgv_tuner_digit_dimmed {
    color: lightgray;
}



/* Window */
.tgv_win {
    position: absolute;
    border: 2px solid gray;
    overflow: auto;               /* for resize to work */
}
/* Optional window header */
.tgv_winhead {
    padding: 2px 4px 2px 4px;
    border-bottom: 1px solid lightgray;
    background-color: white;
    overflow: hidden;
  }
/* Window header label */
.tgv_winhead label {
    vertical-align: middle;
}
/* Buttons inside the window header */
.tgv_winhead button {
    vertical-align: middle; 
    float: right; 
    background-color: transparent;
    padding: 0px 0px;
    border: none;
    margin: none;
    cursor: default;
}
.tgv_winhead button i {
    font-size: calc(var(--VarFontSize) + 3px);
    padding: 0px 0px 0px 2px;
}
.tgv_winhead button:hover {
    color: blue;
}


